bin
src/file
.history
.cache
.idea
.vscode
cmake-build-debug
file
src/out
log
logs
config
build
build-debug
build-release
build*
*-protocol.o
*-client-protocol.o
*-server-protocol.o
*-protocol.h
*-client-protocol.h
*-server-protocol.h
# Precompiled headers
*.gch
*.pch# Log files
log/*.log
log/*.log.*
*.log
crash*
hav
havelsrc/wm/build/
src/wm/protocols/
src/wm/xdg*
.qwen